.contenedor-form{
    display: flex;
    align-items: center;
    margin: 20px;
    gap: 10px;
}
.contenido-form{
    border: 1px black solid;
    border-radius: 10px;
    width: 200px;
    height: 30px;
    font-weight: bold;
}
.enviar{
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    width: 150px;
    height: 40px;
    font-size: 15px;
    font-weight: bold;
    transition: 0.3s;
    &:hover{
        width: 180px;
        height: 50px;
        border: 2px rgb(0, 255, 0) solid;
        transition: 0.3s;
    }
}