.contenedor-boton{
    display: flex;
    justify-content: center;
}
.contenedor{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 30px;
}
.cargando{
    display: flex;
    justify-content: center;
}
