.contenedor-producto-mas-detalles{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.nombre-mas-detalles{
    font-size: 30px;
}
.img-mas-detalles{
    width: 30%;
    object-fit: cover;
}
.description-mas-detalles{
    margin: 20px;
    font-size: 18px;
    width: 900px;
}